<h4 class="text-center mt-5">Avis utilisateurs</h4>
<div class="d-flex justify-content-center w-50 m-0 m-auto">
    <div class="border">
        {% if app.user %}
            <div class="col">
                {% if app.user.picture != null %}
                        <img src="{{ asset('uploads/images/users/' ~ user.picture) }}" alt="" class="rounded-circle img-comment">
                        <span class="btn btn-outline-primary">{{ app.user.email }}</span>
                {% else %}
                    <i class="fa fa-user fa-4x m-2 mr-3" style="color: #225378;"></i>
                    <span>{{ app.user.email }}</span>
                {% endif %}
            </div>
            {{ render(controller('App\\Controller\\AvisController:new', {'id': user.id}))}}
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Se connecter</a>
            <a class="btn btn-outline-primary" href="{{ path('app_register') }}">
                <i class="fa fa-user-plus"></i>
                Créer un compte
            </a>
        {% endif %}
        {% for comment in comments %}
            <div class="col mt-4">
                {% if comment.user.picture != null %}
                    <img src="{{ asset('uploads/images/users/' ~ comment.user.picture) }}" alt="" class="rounded-circle img-comment">
                    <span class="btn btn-outline-info">{{ comment.user.email }}</span>
                {% else %}
                    <i class="fa fa-user fa-4x m-1 mr-3 " style="color: #225378;"></i>
                    <span>{{ comment.user.email }}</span>
                {% endif %}
            </div>
            <div class="col">
                <div class="border mt-4">
                    <span class="border-right border-bottom">Étoiles : {{ comment.star }}/5 </span>
                    <br>
                    <p>{{ comment.commentaire }}</p>
                </div>
                <p>{{ comment.date|date("m/d/Y H-i") }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>