{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="mb-5">
            <h1 class="text-center">{{ user.artistId }} soundcloud</h1>
            <h3 class="text-center">{{ user.type }} | {% for genre in user.genre %}  {{ genre }} {% endfor %} </h3>
        </div>
        <div class="row mb-5">
            <div class="col">
                <h2 class="text-center">{{ user.templateTitle }}</h2>
                <p>{{ user.templateDescription }}</p>
            </div>
            <div class="col mt-5">
                <img src="{{ asset('uploads/images/users/' ~ user.templateImage) }}" alt="">
            </div>
        </div>
        <div class="border w-50 m-auto mb-5 mt-5">
            <h3 class="text-center">Musique soundcloud de {{ user.artistId }}</h3>
            <ul>
                <li><i class="fa fa-play"></i> Musique 1</li>
                <li><i class="fa fa-play"></i> Musique 2</li>
                <li><i class="fa fa-play"></i> Musique 3</li>
                <li><i class="fa fa-play"></i> Musique 4</li>
                <li><i class="fa fa-play"></i> Musique 5</li>
                <li><i class="fa fa-play"></i> Musique 6</li>
            </ul>
        </div>
        <div class="row mt-5">
            <div class="col text-center"><a href="{{ user.facebook }}"><i class="fa fa-facebook-official fa-2x"></i></a></div>
            <div class="col text-center"><a href="{{ user.twitter }}"><i class="fa fa-twitter fa-2x"></i></a></div>
            <div class="col text-center"><a href="{{ user.youtube }}"><i class="fa fa-youtube fa-2x"></i></a></div>
            <div class="col text-center"><a href="{{ user.soundcloud }}"><i class="fa fa-instagram fa-2x"></i></a></div>
        </div>

        <div class="row justify-content-around">
            {{ include('artist/formule/show.html.twig') }}
            <div class="col-md-3 border mt-5 d-flex align-items-center">
                <ul class="mt-4 d-inline">
                    <li class="mb-4"><i class="fa fa-lock fa-2x"></i> Paiment 100% sécurisé</li>
                    <li class="mb-4"><i class="fa fa-warning fa-2x"></i> Assurance en cas d'annulation</li>
                    <li class="mb-4"><i class="fa fa-volume-control-phone fa-2x"></i> En lien direct avec l'artiste</li>
                </ul>
            </div>
        </div>
        {{ include('avis/show.html.twig') }}
    </div>
{% endblock %}