<div class="border col-md-6 mt-5 ">
    <h3 class="text-center">Formule {{ user.artistId }}</h3>
    <form action="{{ path('reservation') }}" method="GET" name="formule-resa">
        {% for formule in formules %}
            <div class="border row">
                <div class="col">
                    <h4>{{ formule.title }}</h4>
                    <p>{{ formule.description }}</p>
                    <p>Durée évènement : {{ formule.tpsEvent|date('H:i') }} | Temps installation : {{ formule.tpsInstall|date('H:i') }}</p>
                </div>
                <div class="col-xs-1 align-self-center">
                        <label>
                            <input type="checkbox" name="formule-choice">
                        </label>
                    <h5>{{ formule.price }}</h5>
                </div>
            </div>
        {% endfor %}
            <input type="submit" class="btn btn-outline-primary">
    </form>
</div>