<div class="form-inline">
    {{ form_start(form) }}
        <div class="form-group-row">
                <ul class="formules" data-prototype="{{ form_widget(form.formules.vars.prototype)|e('html_attr') }}">
                    {#{% for formule in form.formules %}#}
                        {#<li>{{ form_row(formule.title) }}</li>#}
                    {#{% endfor %}#}
                </ul>
        </div>

    {{ form_end(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
</div>