{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="example-wrapper">
        <h1 class="text-center">Template {{ user.template.title }} de {{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h1>
            <div class="form-inline">
                {{ form_start(form) }}
                <div class="form-group-row">
                    <ul class="formules" data-prototype="{{ form_widget(form.formules.vars.prototype)|e('html_attr') }}">
                        {#{% for formule in form.formules %}#}
                        {#<li>{{ form_row(formule.title) }}</li>#}
                        {#{% endfor %}#}
                    </ul>
                </div>
                {{ form_end(form) }}
            </div>
        <br>
    </div>
{% endblock %}