<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BookMyArtist{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="d-flex flex-column justify-content-between flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
                    <div>
                        <input type="text" name="artist-search" placeholder="Rechercher un artiste" class="test">
                        <i class="fa fa-search"></i>
                    </div>
                    <div>
                        <a class="p-2 text-dark" href="/"><img class="logo" src="{{ asset('uploads/logo.svg') }}" alt="BookMyArtist"></a>
                    </div>
                    <div>
                        {% if app.user %}
                            <a href="{{ path('app_user') }}" class="btn">Mon compte</a>
                            <a href="{{ path('app_logout') }}" class="btn">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_register') }}" class="btn">S'inscrire</a>
                            <a href="{{ path('app_login') }}" class="btn">Se connecter</a>
                        {% endif %}
                    </div>
            </div>
        {% endblock %}
        <main class="main-content container">
            {% block body %} {% endblock %}
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
