{% if user.isArtist %}
<article class="col-md-3">
    <div class="artist artist-card">
        {% if user.picture != null %}
            <img class="artist-img-top" src="{{ asset('uploads/images/users/user/' ~ user.picture) }}" alt="{{ user.picture }}">
        {% else %}
            <div class="card-logo-top">
                <i>une icone</i>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ user.artistId }}</h5>
            <ul>
                <li>{{ user.type }}</li>
                {#<li> {{ user.genre }}</li>#}
            </ul>
        </div>
    </div>
</article>
{% endif %}