{% if user.isArtist %}
    <article class="col-md-3 ml-2">
        <a href="{{ path('artist_show', {'artistId' : user.artistId}) }}">
            <div class="card">
                {% if user.picture != null %}
                    <img class="card-img-top" src="{{ asset('uploads/images/users/' ~ user.picture) }}" alt="{{ user.picture }}">
                {% else %}
                    <div class="card-img-top">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-xl-center">{{ user.artistId }}</h5>
                    <p class="card-text">Type d'artiste : {{ user.type }}</p>
                    <p class="card-text">Genre : {% for genre in user.genre %}  {{ genre }} {% endfor %}</p>
                    <p class="card-text">Localisation : {{ user.localisation }}</p>
                </div>
            </div>
        </a>
    </article>
{% endif %}